body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.pageTitle {
    color:rgb(84, 140, 224);
    font-size: 50px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    padding: 10px;
}

.listContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project {
    display: flex;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    justify-content: space-between;
    position: relative;
}

.projectLeft, .projectRight {
    display: flex;
    flex-direction: column;
}

.pDescription, .pDate, .pPriority, .pStatus {
    font-size: 17px;
    color: rgb(105, 105, 105);
}

.pPriority {
    text-transform: capitalize;
}

#high {
    color:rgb(245, 84, 84);
}

#medium {
    color: rgb(240, 216, 0);
}

#low {
    color: rgb(57, 212, 57);
}

.editIcon {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.checkIcon {
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#unchecked {
    display: flex;
}

#checked {
    display: none;
}

.newProjectButton {
    width: 150px;
    height: 40px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer {
    background-color: rgb(84, 140, 224);
    color:white;
    font-size: 16px;
    padding:25px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.createScreenModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.createScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto;
    background-color: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 35%;
    height: 370px;
    position:relative;
}

.createTitle {
    font-size: 20px;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 380px;
    font-size: 17px;
}

input, select {
    height: 30px;
    margin-top: 5px;
    margin-bottom: 7px;
}

.createProjectButton {
    width: 100px;
    height: 40px;
    background-color: rgb(84, 140, 224);
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.todoList {
    position: relative;
    padding-bottom: 50px;
}

.closeIcon {
    position:absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}